.exam-page.has-bar-ribbon .exercise-body::after {
  display: none !important;
  content: none !important;
}

.exam-page.has-bar-ribbon .exam-exercise:first-child .exercise-body::after {
  content: 'Barème';
  display: block !important;
  position: absolute;
  left: calc(-2px + 1mm);
  top: 18px;
  width: 25px;
  color: #111111;
  font-size: 7px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  z-index: 28;
  pointer-events: none;
}

.exam-page.is-exporting.has-bar-ribbon .exam-exercise:first-child .exercise-body::after {
  font-size: 7px !important;
}
