body.cahier-tab-active .homework-page > div:first-child {
  position: absolute !important;
  top: 40px !important;
}

@media print {
  .homework-page > div:first-child {
    position: absolute !important;
    top: 40px !important;
  }
}
