body.cahier-tab-active .cahier-page {
  padding-left: 100px !important;
}

body.cahier-tab-active .homework-page {
  padding-left: 100px !important;
}

body.cahier-tab-active .holidays-page {
  padding-left: 100px !important;
}

body.cahier-tab-active .cahier-page.cahier-exams-groups-page {
  padding-left: 125px !important;
  padding-right: 21px !important;
}

body.cahier-tab-active .cahier-page.holidays-page {
  padding-top: 56px !important;
}

body.cahier-tab-active .homework-page > div:first-child {
  left: 100px !important;
}

@media print {
  body.cahier-tab-active .cahier-page {
    padding-left: 100px !important;
  }

  body.cahier-tab-active .homework-page {
    padding-left: 100px !important;
  }

  body.cahier-tab-active .holidays-page {
    padding-left: 100px !important;
  }

  body.cahier-tab-active .cahier-page.cahier-exams-groups-page {
    padding-left: 125px !important;
    padding-right: 21px !important;
  }

  body.cahier-tab-active .cahier-page.holidays-page {
    padding-top: 56px !important;
  }

  body.cahier-tab-active .homework-page > div:first-child {
    left: 100px !important;
  }
}
