.tiny-duration-control {
  max-width: 170px !important;
  grid-template-columns: 18px minmax(82px, 1fr) 18px !important;
  gap: 10px !important;
}

.tiny-duration-control button {
  width: 18px !important;
  height: 18px !important;
  font-size: 12px !important;
}

.tiny-duration-control strong {
  height: 24px !important;
  font-size: 13px !important;
  padding: 0 10px !important;
}
