.middle-header-cell {
  color: #000;
}

.a4-page.exam-page {
  border: 0;
}

.three-cell-header {
  grid-template-columns: 25% 50% 25%;
}

.preview-zone .second-page {
  margin-top: 56px;
  padding-top: 28px;
  padding-bottom: 58px;
  box-sizing: border-box;
  overflow: hidden;
}

.preview-zone .second-page .exercise-list {
  transform: none;
}

.preview-zone .second-page .exercise-list:has(.exam-exercise:nth-child(1):last-child) .exam-exercise {
  height: 860px !important;
}

.preview-zone .second-page .exercise-list:has(.exam-exercise:nth-child(2):last-child) .exam-exercise {
  height: 410px !important;
}

.preview-zone .second-page .exercise-list:has(.exam-exercise:nth-child(3):last-child) .exam-exercise {
  height: 250px !important;
}

.preview-zone .second-page .exercise-list:has(.exam-exercise:nth-child(4):last-child) .exam-exercise {
  height: 185px !important;
}

.preview-zone .second-page .exercise-list:has(.exam-exercise:nth-child(5):last-child) .exam-exercise {
  height: 145px !important;
}

.preview-zone .second-page .exercise-list:has(.exam-exercise:nth-child(6):last-child) .exam-exercise {
  height: 120px !important;
}
